@{
    ViewBag.Title = "Home Page";
    //ViewBag.Title = "Grocery App";

}
<head>
    <link rel="stylesheet" href="~/Content/Styles.css" />

</head>
<div class="background-image2" style="background-image: url(https://img.freepik.com/free-vector/shopping-supermarket-cart-with-grocery-pictogram_1284-11697.jpg?w=740&t=st=1703702800~exp=1703703400~hmac=a2c75ae2c13d8e27ee12e410cddc9ad2803ab1ae7498970c75db9fdb6cce088f)">
	<main>
		<div class="d-flex align-items-center justify-content-center">

			<div class="card1" style="background-image: url('https://cdn.shopaccino.com/refresh/articles/asre-906919_l.jpg');">
				<p1 style="color:azure"><h2>Natural spices</h2></p1>
				<p1 style="color:azure">Up to 25% off</p1>


			</div>
			<div class="card1" style="background-image: url('https://img.freepik.com/free-photo/soybean-oil-soybean-food-beverage-products-food-nutrition-concept_1150-26352.jpg?size=626&ext=jpg&ga=GA1.1.1710634175.1696222511&semt=ais');">
				<p1 style="color:sandybrown">
					<h2>Fresh oil & ghee</h2>
				</p1>
				<p1 style="color:sandybrown">Up to 20% off</p1>
			</div>


			<div class="card1" style="background-image: url('https://img.freepik.com/free-photo/sack-rice-seed-with-white-rice-small-wooden-spoon-rice-plant_1150-35744.jpg?size=626&ext=jpg&ga=GA1.1.1710634175.1696222511&semt=ais');">
				<p1 style="color:yellow"><h2>Rice & wheat</h2></p1>
				<p1 style="color:yellow">Up to 25% off</p1>
			</div>

			<div class="card1" style="background-image: url('https://img.freepik.com/free-photo/raw-chicken-thighs-dark-wooden-surface_1150-43945.jpg?size=626&ext=jpg&ga=GA1.1.1710634175.1696222511&semt=ais'); ">
				<p1 style="color:white"> <h2>Get Your Protien</h2></p1>
				<p1 style="color:white">Up to 10% off</p1>
			</div>

			<div class="card1" style="background-image: url('https://img.freepik.com/free-photo/abstract-shot-bathroom-items-concept-hygiene_181624-47889.jpg?size=626&ext=jpg&ga=GA1.1.1710634175.1696222511&semt=ais');">
				<p1 style=" color:cornflowerblue"><h2>Hygiene Essentials</h2></p1>
				<p1 style=" color:cornflowerblue">Up to 35% off</p1>
			</div>

		</div>

		@*text animation code*@

		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script type="text/javascript">
			var i = 0;
			window.onload = function nextMsg() {
				if (i == 3) {
					// once there is no more message, do whatever you want
					i = 0;
					$('#message').html(messages[i]).fadeIn(500).delay(1000).fadeOut(500, nextMsg);
				} else {
					// change content of message, fade in, wait, fade out and continue with next message
					$('#message').html(messages[i]).fadeIn(500).delay(1000).fadeOut(500, nextMsg);
				}
				i++;
			};
			// list of messages to display
			var messages = [
				"We’ll meet your grocery demands",
				"We make grocery shopping simple",
				"The  smart way to do groceries"
			].reverse();

			// initially hide the message
			$('#message').hide();

			// start animation
			nextMsg();</script>


		<div id="message" style="font-family:'Bookman Old Style'; font-size:xx-large;" class="d-flex align-items-center justify-content-center"> </div>


		@*text animation code*@

	</main>

	<br />





	@*cards scroll code*@


	<style>
		.scroll-container {
			overflow: hidden;
			position: relative;
			border: 1px solid #ccc;
			border-radius: 20px;
		}

		.image-wrapper {
			display: flex;
			transition: transform 1s ease-in-out;
			width: 1130px;
			height: 400px;
		}

		.image {
			object-fit: cover;
		}
	</style>

	<div class="scroll-container" style="width: 1130px; height: 400px; margin: auto;">
		<div class="image-wrapper">
			<img class="image" src="https://www.bigbasket.com/media/uploads/banner_images/hp_m_babycare_250923_400.jpg?tr=w-1920,q=80" alt="Image 1">
			<img class="image" src="https://www.bigbasket.com/media/uploads/banner_images/hp_m_health_suppliment_250923_400.jpg?tr=w-1920,q=80" alt="Image 2">
			<img class="image" src="https://www.bigbasket.com/media/uploads/banner_images/hp_m_petstore_250923_400.jpg?tr=w-1920,q=80" alt="Image 3">
			<img class="image" src="https://www.bigbasket.com/media/uploads/banner_images/hp_bcd_m_bcd_250923_400.jpg?tr=w-1920,q=80" alt="Image 4">
		</div>
	</div>

	<script>
		const imageWrapper = document.querySelector('.image-wrapper');
		const images = document.querySelectorAll('.image');
		const imageWidth = images[0].clientWidth;

		function scrollImages() {
			imageWrapper.style.transform = `translateX(-${imageWidth}px)`;
			setTimeout(() => {
				imageWrapper.appendChild(imageWrapper.firstElementChild);
				imageWrapper.style.transition = 'none';
				imageWrapper.style.transform = 'translateX(0)';
				setTimeout(() => {
					imageWrapper.style.transition = 'transform 1s ease-in-out';
				}, 0);
			}, 1000); // Adjust the duration as needed
		}

		setInterval(scrollImages, 3000); // Adjust the interval as needed
	</script>






	@*cards scroll code*@


	<div class="cards1">
		<div class="cardmain" style=" background-image: url('https://www.cartly.ca/cdn/shop/files/Everyday_Specials_-_Banner_2000x.jpg?v=1633107773'); background-position: 0%; background-size: cover; height: 250px; width: 1000px; border: 1px solid #e0e0e0; border-radius: 15px; padding: 20px; margin: 55px; text-align: center; box-shadow: 2px 2px 7px gray; cursor: pointer; ">
		</div>
	</div>
	<br />

	<div class="d-flex align-items-center justify-content-center">
		<div class="xhov" style="background-image: url('https://www.bigbasket.com/media/customPage/b01eee88-e6bc-410e-993c-dedd012cf04b/91e53046-98e0-4c5b-ae53-7d073e5210e1/41a0810e-1fc3-46e4-9d2c-7d9e79e0aa29/hp_f&v_m_fresh-vegetables_480_250923.jpg?tr=w-1920,q=80'); background-position: 0%; background-size: cover; height: 180px; width: 250px; border: 1px solid #e0e0e0; border-radius: 5px; padding: 20px; margin: 10px; text-align: center; transition: transform 0.3s; box-shadow: 2px 2px 7px gray; cursor: pointer; ">
		</div>
		<div class="xhov" style="background-image: url('https://www.bigbasket.com/media/customPage/b01eee88-e6bc-410e-993c-dedd012cf04b/91e53046-98e0-4c5b-ae53-7d073e5210e1/41a0810e-1fc3-46e4-9d2c-7d9e79e0aa29/hp_f&v_m_fresh-fruits_480_250923.jpg?tr=w-1920,q=80'); background-position: 0%; background-size: cover; height: 180px; width: 250px; border: 1px solid #e0e0e0; border-radius: 5px; padding: 20px; margin: 10px; text-align: center; transition: transform 0.3s; box-shadow: 2px 2px 7px gray; cursor: pointer; ">
		</div>
		<div class="xhov" style="background-image: url('https://www.bigbasket.com/media/customPage/b01eee88-e6bc-410e-993c-dedd012cf04b/91e53046-98e0-4c5b-ae53-7d073e5210e1/41a0810e-1fc3-46e4-9d2c-7d9e79e0aa29/hp_f&v_m_cuts-&-exotics_480_250923.jpg?tr=w-1920,q=80'); background-position: 0%; background-size: cover; height: 180px; width: 250px; border: 1px solid #e0e0e0; border-radius: 5px; padding: 20px; margin: 10px; text-align: center; transition: transform 0.3s; box-shadow: 2px 2px 7px gray; cursor: pointer; ">
		</div>
		<div class="xhov" style="background-image: url('https://www.bigbasket.com/media/customPage/b01eee88-e6bc-410e-993c-dedd012cf04b/91e53046-98e0-4c5b-ae53-7d073e5210e1/41a0810e-1fc3-46e4-9d2c-7d9e79e0aa29/hp_f&v_m_herbs-&-seasoning_480_250923.jpg?tr=w-1920,q=80'); background-position: 0%; background-size: cover; height: 180px; width: 250px; border: 1px solid #e0e0e0; border-radius: 5px; padding: 20px; margin: 10px; text-align: center; transition: transform 0.3s; box-shadow: 2px 2px 7px gray; cursor: pointer; ">
		</div>
	</div>
	<br />
	<div class="card-container" style=" display: flex; align-items: center; margin:30px;">
		<div class="xhov" style="background-image: url('https://www.bigbasket.com/media/customPage/b01eee88-e6bc-410e-993c-dedd012cf04b/91e53046-98e0-4c5b-ae53-7d073e5210e1/e4a9856b-dc3f-4927-a5a1-8edfe8d7dc38/hp_bev_m_health-drinks-&-supplements_480_250923.jpg?tr=w-1920,q=80'); background-position: 0%; background-size: cover; height: 120px; width: 165px; border: 1px solid #e0e0e0; border-radius: 5px; padding: 20px; margin: 10px; text-align: center; transition: transform 0.3s; box-shadow: 2px 2px 7px gray; cursor: pointer;">
		</div>
		<div class="xhov" style="background-image: url('https://www.bigbasket.com/media/customPage/b01eee88-e6bc-410e-993c-dedd012cf04b/91e53046-98e0-4c5b-ae53-7d073e5210e1/e4a9856b-dc3f-4927-a5a1-8edfe8d7dc38/hp_bev_m_tea-&-coffee_480_250923.jpg?tr=w-1920,q=80'); background-position: 0%; background-size: cover; height: 120px; width: 165px; border: 1px solid #e0e0e0; border-radius: 5px; padding: 20px; margin: 10px; text-align: center; transition: transform 0.3s; box-shadow: 2px 2px 7px gray; cursor: pointer;">
		</div>
		<div class="xhov" style="background-image: url('https://www.bigbasket.com/media/customPage/b01eee88-e6bc-410e-993c-dedd012cf04b/91e53046-98e0-4c5b-ae53-7d073e5210e1/e4a9856b-dc3f-4927-a5a1-8edfe8d7dc38/hp_bev_m_flavoured-&-soya-milk_480_250923.jpg?tr=w-1920,q=80'); background-position: 0%; background-size: cover; height: 120px; width: 165px; border: 1px solid #e0e0e0; border-radius: 5px; padding: 20px; margin: 10px; text-align: center; transition: transform 0.3s; box-shadow: 2px 2px 7px gray; cursor: pointer;">
		</div>
		<div class="xhov" style="background-image: url('https://www.bigbasket.com/media/customPage/b01eee88-e6bc-410e-993c-dedd012cf04b/91e53046-98e0-4c5b-ae53-7d073e5210e1/e4a9856b-dc3f-4927-a5a1-8edfe8d7dc38/hp_bev_m_juices_480_250923.jpg?tr=w-1920,q=80'); background-position: 0%; background-size: cover; height: 120px; width: 165px; border: 1px solid #e0e0e0; border-radius: 5px; padding: 20px; margin: 10px; text-align: center; transition: transform 0.3s; box-shadow: 2px 2px 7px gray; cursor: pointer;">
		</div>
		<div class="xhov" style="background-image: url('https://www.bigbasket.com/media/customPage/b01eee88-e6bc-410e-993c-dedd012cf04b/91e53046-98e0-4c5b-ae53-7d073e5210e1/e4a9856b-dc3f-4927-a5a1-8edfe8d7dc38/hp_bev_m_energy-drinks_480_250923.jpg?tr=w-1920,q=80'); background-position: 0%; background-size: cover; height: 120px; width: 165px; border: 1px solid #e0e0e0; border-radius: 5px; padding: 20px; margin: 10px; text-align: center; transition: transform 0.3s; box-shadow: 2px 2px 7px gray; cursor: pointer;">
		</div>
		<div class="xhov" style="background-image: url('https://www.bigbasket.com/media/customPage/b01eee88-e6bc-410e-993c-dedd012cf04b/91e53046-98e0-4c5b-ae53-7d073e5210e1/e4a9856b-dc3f-4927-a5a1-8edfe8d7dc38/hp_bev_m_soft-drinks-&-more_480_250923.jpg?tr=w-1920,q=80'); background-position: 0%; background-size: cover; height: 120px; width: 165px; border: 1px solid #e0e0e0; border-radius: 5px; padding: 20px; margin: 10px; text-align: center; transition: transform 0.3s; box-shadow: 2px 2px 7px gray; cursor: pointer;">
		</div>

		<div class="xhov" style="background-image: url('https://www.bigbasket.com/media/customPage/b01eee88-e6bc-410e-993c-dedd012cf04b/91e53046-98e0-4c5b-ae53-7d073e5210e1/1efc132e-4754-4359-a9a3-a9c3ec267d28/hp_GM-storage-container_m_250723_05.jpg?tr=w-1920,q=80'); background-position: 0%; background-size: cover; height: 120px; width: 165px; border: 1px solid #e0e0e0; border-radius: 5px; padding: 20px; margin: 10px; text-align: center; transition: transform 0.3s; box-shadow: 2px 2px 7px gray; cursor: pointer;">
		</div>

		<div class="xhov" style="background-image: url('https://www.bigbasket.com/media/customPage/b01eee88-e6bc-410e-993c-dedd012cf04b/91e53046-98e0-4c5b-ae53-7d073e5210e1/50aa5fc7-cfa4-4919-b3ba-064fd9aa9441/hp_b&h_m_minimum-30-off_480_250923.jpg?tr=w-1920,q=80'); background-position: 0%; background-size: cover; height: 120px; width: 165px; border: 1px solid #e0e0e0; border-radius: 5px; padding: 20px; margin: 10px; text-align: center; transition: transform 0.3s; box-shadow: 2px 2px 7px gray; cursor: pointer;">
		</div>

	</div>


	<br />
	<br />
</div>
@*<footer>

    <div class="foot">
        <p> Thank you for choosing bigbasket for your grocery shopping needs! We're committed to making your life easier and healthier If you have any questions, suggestions, or feedback, please don't hesitate to reach out. Happy shopping!</p>
        <p> &copy; 2023 bibasket. All rights reserved.</p>
    </div>
</footer>*@
<footer>
	<div class="useful-links">
		<h3> Useful Links</h3>
		<div class="column">
			<ul>
				<li> About</li>
				<li> Careers</li>
				<li> Blog</li>
				<li> Press</li>
				<li> Lead</li>
				<li> Value</li>
			</ul>
		</div>
		<div class="column">
			<ul>
				<li> Terms</li>
				<li> Privacy</li>
				<li> FAQs</li>
				<li> Security</li>
				<li> Mobile</li>
				<li> Contact</li>
			</ul>
		</div>
		<div class="column">
			<ul>
				<li> Partner</li>
				<li> Express</li>
				<li> Seller</li>
				<li> Spotlight</li>
				<li> Warehouse</li>
				<li> Deliver</li>
			</ul>
		</div>
	</div>
	<div class="categories">
		<h3> Categories</h3>
		<div class="ccolumn">
			<ul>
				<li> Vegetables & Fruits</li>
				<li> Dairy & Breakfast</li>
				<li> Munchies</li>
				<li> Cold Drinks & Juices</li>
				<li> Instant & Frozen Food</li>
				<li> Tea, Coffee & Health Drinks</li>
				<li> Bakery & Biscuits</li>
				<li> Sweet Tooth</li>
				<li> Atta, Rice & Dal</li>
				<li> Dry Fruits, Masala & Oil</li>
			</ul>
		</div>
		<div class="ccolumn">
			<ul>
				<li> Sauces & Spreads</li>
				<li> Chicken, Meat & Fish</li>
				<li> Organic & Premium</li>
				<li> Cleaning Essentials</li>
				<li> Beauty & Cosmetics</li>
				<li> Personal Care</li>
				<li> Ice Creams & Frozen Desserts</li>
				<li> Toys & Games</li>
			</ul>
		</div>
	</div>
	<div class="foot">
		<p> Thank you for choosing grocerybasket for your grocery shopping needs! We're committed to making your life easier and healthier If you have any questions, suggestions, or feedback, please don't hesitate to reach out. Happy shopping!</p>
		<p> &copy; 2023 grocerybasket. All rights reserved.</p>
	</div>
</footer>


@section Scripts {
    <script type="text/javascript">
        function disableBack() {
            history.pushState(null, null, location.href);
            history.replaceState(null, null, location.href);
            window.onpopstate = function () {
                history.go(1);
            };
        }

        // Call the disableBack function when the page is loaded
        window.onload = function () {
            disableBack();
            console.log('Page loaded successfully'); // Check for this log in the browser console
        };
    </script>
}

